<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiyuan.catering.merchant.goods.dao.CateringCategoryShopRelationMapper">
    <resultMap id="BaseResultMap" type="com.meiyuan.catering.merchant.goods.entity.CateringCategoryShopRelationEntity">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="category_add_type" jdbcType="INTEGER" property="categoryAddType" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>
    <sql id="Base_Column_List">
        id,
        category_id,
        shop_id,
        category_add_type,
        sort
    </sql>

</mapper>
