<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiyuan.catering.merchant.dao.CateringShopPrintingConfigMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.meiyuan.catering.merchant.entity.CateringShopPrintingConfigEntity">
                    <id column="id" property="id" />
                    <result column="shop_id" property="shopId" />
                    <result column="device_number" property="deviceNumber" />
                    <result column="printing_times" property="printingTimes" />
                    <result column="auto_print" property="autoPrint" />
                    <result column="device_type" property="deviceType" />
                    <result column="ticket_type" property="ticketType" />
                    <result column="voice_remind" property="voiceRemind" />
                    <result column="night_close" property="nightClose" />
                    <result column="status" property="status" />
                    <result column="is_del" property="del" />
                    <result column="create_time" property="createTime" />
                    <result column="update_time" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, shop_id, device_number, printing_times, auto_print, device_type, ticket_type, voice_remind, night_close, status, is_del, create_time, update_time
    </sql>

</mapper>