<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiyuan.catering.merchant.dao.CateringShopConfigMapper">

    <resultMap type="com.meiyuan.catering.merchant.entity.CateringShopConfigEntity" id="CateringShopConfigMap">
                <result property="id" column="id" jdbcType="BIGINT"/>
                        <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
                        <result property="autoReceipt" column="auto_receipt" jdbcType="INTEGER"/>
                        <result property="deliveryObject" column="delivery_object" jdbcType="INTEGER"/>
                        <result property="deliveryPrice" column="delivery_price" jdbcType="DECIMAL"/>
                        <result property="freeDeliveryPrice" column="free_delivery_price" jdbcType="DECIMAL"/>
                        <result property="leastDeliveryPrice" column="least_delivery_price" jdbcType="DECIMAL"/>
                        <result property="deliveryRange" column="delivery_range" jdbcType="VARCHAR"/>
                        <result property="deliveryRule" column="delivery_rule" jdbcType="INTEGER"/>
                        <result property="fastestDeliveryTime" column="fastest_delivery_time" jdbcType="INTEGER"/>
                        <result property="shopYourself" column="shop_yourself" jdbcType="INTEGER"/>
                        <result property="orderOvertime" column="order_overtime" jdbcType="TIMESTAMP"/>
                        <result property="del" column="is_del" jdbcType="INTEGER"/>
                        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
                        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
                        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            </resultMap>

        <update id="modifyDeliveryConfig" parameterType="com.meiyuan.catering.merchant.entity.CateringShopConfigEntity">
            UPDATE catering_shop_config set
            delivery_price = #{dto.deliveryPrice},
            free_delivery_price = #{dto.freeDeliveryPrice},
            least_delivery_price = #{dto.leastDeliveryPrice},
            delivery_range = #{dto.deliveryRange}
            where id = #{dto.id}
    </update>

</mapper>