<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiyuan.catering.marketing.dao.CateringMarketingSeckillEventMapper">


    <select id="verificationUse" resultType="java.lang.Integer">
            select
                count(1)
            from catering_marketing_seckill_event_relation as ser
            left join catering_marketing_seckill as s on s.id = ser.seckill_id
            where ser.event_id = #{eventId} and s.up_down = 2 and s.is_del = 0 and s.end_time >= #{now}
        </select>

</mapper>